/* Extra small devices (portrait phones, less than 576px) */
* {
	box-sizing: border-box;
}

img {
	height: auto;
	max-width: 100% !important;
}

main {
	padding: 10px 10px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

a {
	color: rgba(182,23,75,1);
}

table {
	text-align: left;
	width: 100%;
}

article {
	border: 1px solid white;
	margin: 15px 0px;
}

.thumbnail {
	max-width: 40%;
}

.article-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.article-header a {
	color: white;
	text-decoration: none;
}

.article-content {
	display: flex;
	flex-direction: column;
}

.article-images {
	display: flex;
	flex-wrap: wrap;
}

.article-images > img {
	width: 50%;
}

article * {
	padding: 5px;
	margin: 0px;
}

.user {
	background-color: black;
	text-align: right;
	margin-top: -4px;
	padding: 5px;
}

textarea {
	resize: none;
}

video {
	width: 80%;
	margin: 10px 10%;
}

figure {
	padding: 15px;
	margin-left: 0px;
}

.home-content figure {
	border: 1px solid white;
	text-align: center;
	width: 100%;
}

.home-content p {
	width: 100%;
}

.home-content {
	display: flex;
	flex-direction: column;
}

.container {
	background-color: rgba(15,20,28,1);
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	color: white;
	font-size: 16px;
	display: flex;			/*footer trick*/
	flex-direction: column;	/*footer trick*/
	height: 100vh;			/*footer trick*/
}

.menu {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.menu > li {
	border: 1px solid white;
}

.menu > li > a {
	display: block;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 5px 15px;
}

footer {
	text-align: center;
	margin-top: auto;		/*footer trick*/
}

footer img {
	height: 12px;
	width: auto;
	margin-left: 5px;
}

.contact-container {
	display: flex;
	flex-direction: column;
}

.contact-form {
	width: 80%;
	margin: 0 auto;
}

.contact-form > * {
	width: 100%;
}

.news-form input[type=text],textarea {
	width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
	.contact-form {
		width: 55%;
	}
	
	.home-content {
		flex-direction: row;
	}
	
	.home-content figure {
		width: 40%;
	}

	.home-content p {
		width: 60%;
	}
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.menu {
		flex-direction: row;
	}
	
	.contact-form {
		width: 45%;
	}
	
	.article-header {
		flex-direction: row;
		align-items: center;
	}
	
	.article-content {
		flex-direction: row;
	}
	
	.thumbnail {
		max-width: 30%;
	}
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.contact-container {
		flex-direction: row;
	}
	
	.contact-form {
		width: 35%;
		margin-left: 10px;
	}
	
	.article-images > img {
		width: 33%;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	main {
		padding: 10px 0px;
	}
}